/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

body {
  background-color: #d6d6d6;
}



div#projectBackground {
	width: 970px;
	margin: auto;
	background-color: #d6d6d6;
}

div#projectContainer div#projects {
  margin-top: 6px;
  width: 665px;
}


/* <--- Kalender */
div#calendarBackground, div#calendarBackgroundB {
	width: 228px;
	float: right;
}
/* Kalender ---> */

/* <--- Content */
div#contentBackground {
	padding-top: 20px;
}
div#contentBackground div#selectedProject {
	width: 970px;
	margin: 0 auto;
}
div#contentBackground div.containerWrapper {
	background-color: #efefef;
}
div#contentBackground.inactive {
	opacity: 0.3;
}

div#contentBackground div.container {
	width: 970px;
	margin: 0 auto;
	padding: 40px 0px;
}
div#contentBackground div.container div#contentContainer {
	width: 742px;
	float: left;
}


/* <--- Filter Navigation fuer Projektdetailansicht */
ul#filterDetail {
  height: 25px;
  border-bottom: 4px solid #a6a6a6;
  width: 665px;
}
ul#filterDetail li {
  float: left;
  margin-right: 2px;
  padding: 6px 15px 5px;
  background-color: #c6c6c6;
  border-radius: 6px 0 0 0;
}
ul#filterDetail li.active {
  background: url(/assets/img_layout/filter-back-on.png) 50% 50% repeat-x #888888;
}
ul#filterDetail li.first {
  background: url(/assets/img_layout/filter-back-off.png) 50% 50% repeat-x #c6c6c6;
}
ul#filterDetail li.first.active {
  background: url(/assets/img_layout/filter-back-on.png) 50% 50% repeat-x #888888;
}

ul#filterDetail li a {
  padding: 14px 45px 10px 0px;
  color: #585858;
}
ul#filterDetail li.active a {
  color: #000;
}
ul#filterDetail li.news.mail a {
  background: url(/assets/img_layout/anzeige-neueMails.png) right top no-repeat;
}

ul#filterDetail li.news.file a {
  background: url(/assets/img_layout/anzeige-neueDateien.png) right top no-repeat;
}
ul#filterDetail li.last {
  float: right;
  margin-right: 0;
  background-color: transparent;
  padding-right: 0;
}
ul#filterDetail li.last a {
  background: url(/assets/img_layout/anzeige-neu.png) left top no-repeat;
  text-align:right;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 0;
  background-color: transparent;
}

/* Filter Navigation fuer Projektdetailansicht ---> */

/* <--- Auflistung Nachrichten */
div#messages {
  width: 665px;
  margin-left: 0px;
  margin-right: 0x;
  padding-left: 0px;
  padding-right: 0px;

}
div.message {
  float: left;
  width: 665px;
  margin-left: 0px;
  margin-right: 0x;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffeac3;
  margin-bottom: 6px;
}
div.message.read {
  background-color: #fff;
}
div.answer {
  margin-left: 0px;
  margin-right: 0x;
  padding-left: 30px;
  padding-right: 0px;
  background: url(/assets/img_layout/answer.jpg) left top no-repeat #f2f2f2;
  margin-bottom: 1px;
}
div.message ul {
}
div.message ul li {
  display: block;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 10px;
  color: #585858;
  height: 36px;
}
div.message ul li a {
  font-size: 10px;
}
div.message ul li.title {
  float: none;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 12px;
}
div.message ul li.title a {
  display: block;
  font-size: 16px;
  color: #585858;
}
div.message ul li.meta {
  padding-left: 10px;
  height: 20px;
}

/* Auflistung Nachrichten ---> */

/* Content ---> */


/* <--- form elements */
div#newProject, div#standardForm {
	width: 665px;
	margin-top: 30px;
}
div#standardForm {
    float: left;
}
div.rightArea {
    padding-top: 20px;
    float: right;
}

div.formRow {
	margin-bottom: 20px;
	clear: both;
}
div.formRow.rightText {
    text-align:right;
}
div#standardForm div.formRow {
    padding-left: 10px;

}
p.buttonStyle {
    color: #585858;
    float: right;
    font-size: 12px;
    padding-top: 0px;
    width:192px; 
        height:27px;
        padding-bottom:0px;
        border:0; 
        
        cursor:pointer;
        outline:none;
        margin-top:10px;
        background: transparent url(img_layout/buttons/button-action-w192.png)  0 -27px no-repeat;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
}
p.buttonStyle.left {
    float: none;
}
p.buttonStyle a {
    color: #585858;
    display: block;
    font-size: 12px;
    padding-top: 6px;
}
div.formRow label {
	display:block;
	cursor:pointer;	
	margin-bottom: 8px;
	color: #585858;
}
div.formRow label.small {
    display:block;
    float: left;
    width: 186px;
    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
}   
INPUT[type=text],
INPUT[type=password],
INPUT[type=email],
TEXTAREA, SELECT {
	width:660px;
	height:27px;
	padding:0 3px;	
	border:1px solid #a6a6a6 !important;
	background: url(img_layout/input_text_bg.png) left top repeat-x #efefef;
	clear:both;
	margin-bottom: 5px;
	color: #585858;
	font-size: 12px !important;
	}
	
INPUT[type=text].small,
INPUT[type=password].small,
INPUT[type=email].small,
TEXTAREA.small {
    width:450px;
    padding:0 3px;  
    }
div.error INPUT[type=text],
div.error INPUT[type=password],
div.error TEXTAREA {
    width:450px;
    padding:0 3px;  
    }

TEXTAREA {
	height:130px;
	padding-top: 5px;
	}

	INPUT[type=text]:focus, INPUT[type=password]:focus {
		background:#fff;
	}
		
	INPUT[type="button"], INPUT[type="submit"] {
		float: right;
		width:192px; 
		height:27px;
		padding:0; 
		padding-bottom:6px;
		border:0; 
		
		cursor:pointer;
		outline:none;
		margin-top:10px;
		background: transparent url(img_layout/buttons/button-action-w192.png)  0 0 no-repeat;
		text-align: center;
    	color: #fff;
    	text-decoration: none;
		font-size: 12px;
		
	}
	
		INPUT[type="button"].add {
			background-position:0 -27px;
			color: #585858;
		}
		
		INPUT[type="submit"].save {
			background-position:0 0; 
		}
			
	
	INPUT[type="checkbox"], 
	INPUT[type="radio"] {
		cursor:pointer; 
	}
/* form elements ---> */


/* <--- Footer */
div#footer {
	border-top: 1px solid #fff;
	padding-top: 40px;
	margin-top: 40px;
}
div#footer div.footerLayout {
	width: 970px;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	font-size: 10px;
	color: #7A7A7A;
}
/* Footer ---> */
